html, body {
  margin: 0;
}
p {
  margin: 0;
}
#button {
  user-select: none;
  -moz-user-select: none;

  line-height: 50px;
  font-family: Arial;
  font-size: 12px;
  position: absolute;
  top: 11px;
  margin-bottom: -40px;
  margin-left: 50px;
  height: 50px;
  width: 80px;
  background-color: #61abc6;
}
#button:hover {
  background-color: #5ea7c1;
}
#button:active {
  background-color: #4e8ca3;
}



#text_area {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -230px;
  margin-top: -40px;;
  display: inline-block;
  height: 45px;
  width: 380px;
  overflow: hidden;
  resize: none;
}
#container {
  user-select: none;
  background-color: lightblue;
  position: absolute;
  top: 70%;
  text-align: center;
  width: 100%;
  height: 100px;
}
#header {
  user-select: none;
  -moz-user-select: none;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 300px;
  height: 100px;
}

#main-word {
  font-family: Arial;
  font-size: 20px;
}

#second-word {
  font-family: Arial;
  font-size: 12px;
}

#console-box {
  user-select: none;
  -moz-user-select: none;
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.console-text {
  font-family: Arial;
  font-size: 12px;
}

#wrap {
  display: inline-block;
  width: 600px;
  background-color: yellow;
}

#dialog-box {
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -300px;
  border: 1px solid black;
  width: 600px;
  height: 370px;
}

.message {
  margin-left: 17px;
  width: 550px;
  min-height: 37px;
}


/* this name box is seen only by the client who've sent a message (just to get a client to see its message on the dialog box) */
.client-name-from-client {

  color: rgb(232, 58, 213);
  padding-top: 5px;
  padding-left: 10px;
  font-family: Arial;
  font-size: 13px;
  line-height: 24px;
  width: 540px;
  height: 25px;

}

/* this name box is seen when getting a message from the server (from another client) */
.client-name-from-server {

  color: rgb(63, 46, 255);
  text-align: right;
  padding-top: 5px;
  padding-right: 10px;
  font-family: Arial;
  font-size: 13px;
  line-height: 24px;
  width: 540px;
  height: 25px;

}

.message-box {
  font-family: Arial;
  font-size: 13px;
  width: 550px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(208, 162, 255);
}

#connect-button {
  position: absolute;
  background-color: rgb(255, 223, 253);
  right: 20px;
  bottom: 20px;
  width: 120px;
  height: 25px;
}
/* DEBUG */
#debug {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}
#debug2 {
  position: absolute;
  right: 50px;
  width: 50px;
  height: 50px;
}
